footer.col-md-12
	#footnav.col-md-3
		p TzedakahBits
		ul
			li About
			li Bitcoin?
			li Donate
			li Volunteer
			li Contact
	#footsocial.col-md-3
		p Support Us
		ul
			li Facebook
			li Twitter
			li GitHub
			li Donate
			li Volunteer
	#newsletter.col-md-4
		p Sign up for our newsletter
		form.standardform
			input(type='text', placeholder='Your Email Address', name='email')
