footer.col-md-12
	.container.footcontainer
		#footnav.col-md-3
			p 
			ul
				li.listhead TzedakahBits
				li About
				li Bitcoin?
				li Donate
				li Volunteer
				li Contact
		#footsocial.col-md-3
			p 
			ul	
				li.listhead Support Us
				li
					a(href='http://facebook.com/TzedakahBits') Facebook
				li 
					a(href='http://twitter.com/TzedakahBits') Twitter
				li 
					a(href='http://github.com/kinnardian/TzedakahBits')GitHub
				li 
					a(href='/donate') Donate
				li 
					a(href='/volunteer') Volunteer
		#newsletter.col-md-4
			p Sign up for our newsletter
			form.standardform
				input(type='text', placeholder='Your Email Address', name='email')
		
