footer.col-md-12
	.container
		#footnav.col-md-3
			p 
			ul
				li.listhead TzedakahBits
				li About
				li Bitcoin?
				li Donate
				li Volunteer
				li Contact
		#footsocial.col-md-3
			p 
			ul	
				li.listhead Support Us
				li Facebook
				li Twitter
				li GitHub
				li Donate
				li Volunteer
		#newsletter.col-md-4
			p Sign up for our newsletter
			form.standardform
				input(type='text', placeholder='Your Email Address', name='email')
