nav.navbar.navbar-default#nav
            .navbar-header
                button.navbar-toggle(data-toggle="collapse", data-target="navbar-ex1-collapse")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                    
                    li.brand
                        img(src='/img/justthestar.png').pull-left.navlogo
                        a(href='/') TzedakahBits
                    li
                        a(href='/newcause') Add a cause
                    li
                        a(href='/about') About
                    li  
                        a(href='/causes') Causes
                    li
                        a(href='/donate') Volunteer
                    li  
                        a(href='/donate') Donate
                    li  
                        a(href='/bitcoin') What is Bitcoin?
                .pull-right.social-nav-box
                        i.fa.fa-2x.fa-github-square.social-button
                        i.fa.fa-2x.fa-facebook-square.social-button