// Staff Pick Template 
//  .container
//      .pull-left
//      .pull-right 
//          | Cause: #{rows[i].cause_name}
//          | Organization: #{rows[i].organization}
//          | Goal: #{rows[i].goal} BTC
//          br
//          .progress
//              .bar(style="width: 27%;")
//

#staffpickcontainer.col-md-12
            .col-md-2
            .pull-left.col-md-4
                h2 Staff Pick:
                img(src='/img/muskbama.jpg',style='width:80%')
            #staffpickinfo.col-md-4
                h3 Cause: Califonia Dreams

                h3 Organization: Startup Nation

                h3 Goal: All BTC
                br
                .progress
                    .progress-bar(style="width: 27%;")