// Staff Pick Template 
//  .container
//      .pull-left
//      .pull-right 
//          | Cause: #{rows[i].cause_name}
//          | Organization: #{rows[i].organization}
//          | Goal: #{rows[i].goal} BTC
//          br
//          .progress
//              .bar(style="width: 27%;")
//

#staffpickcontainer.col-md-12
            .col-md-2
            .pull-left.col-md-4
                h2 Staff Pick:
                img(src='/img/muskbama.jpg',style='width:80%')
            #staffpickinfo.col-md-4
                h3.tagline Connecting Startup Students with the Startup Nation
                h3 Cause:
                    span.caust Califonia Dreams


                h3 Organization:
                    span.organizationt Startup Nation

                h3 Goal: 100 BTC 
                br
                .progress
                    .progress-bar(style="width: 27%;")
                .stats.col-md-12
                    .stat.staffpickstats.col-md-3 #{(100/6).toFixed(2)}% FUNDED
                    .stat.staffpickstats.col-md-3 B&#8422; 0.00 PLEDGED
                    .stat.staffpickstats.col-md- 10 DAYS TO GO