html,body{
	height: 100%;
}
.brand{padding:1px 20px 1px ;}
.do{position:relative;text-align:center;}
.center{margin-right:auto;margin-left:auto;width:300px;}

.cause{border:solid 1px beige;margin:1%;padding:3%; background-color: #f7f7f7;}
.causeinfo ul{style:none;}
.causeName{
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
}
#causes{
	border-right: 3px dashed #0077B9;
	border-left: 3px dashed #0077B9;
}
.contributions{width:70%;}

#nav{
	padding: .5%;
	margin-bottom: 0;
}
.navlogo{
	width: 20%;
	margin-right: 2%;
}

.centered{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.inyoface{
	padding-bottom: 2%;
	padding-top:2%;
}
.inyoface h1{
	font-size: 50pt;
}

#staffpickcontainer{
	background-color: beige;
	padding: 3%;
}
.staffpickinfo{
	height: 100%;
	padding-top: 5%;
}
#pushfooterdownakahtmlsucks{
	min-height: 100%;
	
	height: 100%;
}
#pushfooterdownakahtmlsucks:after{
	/*height: 142px;*/

}
footer{
	background-color: #00466d;
	color: beige;
	height: 142px;
	position: relative;
	bottom: 0%;
	border-top: 3px dashed #beige;
}
.footroom{
	margin-bottom: 1%;
}

#footnav,#footsocial{
	border-right: 5px solid beige;
}
#centerlogo{
	padding-top: 1%;
	border-bottom: 3px dashed #0077B9;
}
#bitcoin{
	background-color: beige;
	padding: 2%;
}

#donate_wrapper{
	
	height: 100%;
}

#sidebar{

border-right: #00466d;
height: 100%;
}
#donate_main{
	height: 100%;
}

.bluehalf{
	background-color: #0077B9;
	color: white;
	height: 100%;
}
.beigehalf{
	background-color: beige;
	height:100%;
}
#sidebar{
	border-right: 2px dashed #0077B9;
	padding-top: 5%;
}
#donatemain{
	background-color: beige;
	height: 100%;
	padding: 5%;
	
}
.causename{
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
}
.tagline{
	text-align: center;
	font-weight: bold;
}
.stats{
	position: relative;
	bottom:0%;
}
.stat{
display: inline-block;
}
.standardform input,textarea[type='text']{
	border-radius: 3px;
	border-color: black;
	padding: 1%;
	width:70%;
}
.standardform button{
	border-radius: 2px;
	border-color: black;
	padding: 1%;
	background-color: #0077B9;
	color: white;
	width:20%;

}

#causepaper{
	background-color:#eef2ea;
	padding: 3%;
	border-radius: 6px;
	box-shadow: 0px 3px 3px 3px #ccc;


}
#causetitle{
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	float:none;
}
#howitsdoing{
	border-left: 3px solid black;
	height:100%;
}
#causepagecontainer{
	height:71%;
}
