//about tzedakahbits
extends layout
block main
    body
        #pushfooterdownakahtmlsucks
            .inyoface.inyoface-about(style='background-color:beige;').centered
                    img(src="/img/TzedakahLogo.png")
                    .container
                        include /partials/nav.jade
                    h1 Donate Bitcoin to Your Favorite Charity


            .container
                h1 • Tzedakahbits lets you donate bitcoin to your favorite charities
                
                h2 • Why donate bitcoin? 
                h3 • Bitcoin is easier to send than other currencies
                h3 • It's open so every bit of tzedakah you give is publicy auditble
                h3 • It's global
                h3 • It can be given at a much lower cost than traditional currencies.
                h3 • It can be raised quickly in an emergency
            
        include /partials/footer.jade