//tzedakabits/bitcoin.jade What is bitcoin?
extends layout
block main
	body
		#centerlogo.col-md-12.centered
			img(src='./img/TzedakahLogo.png')
		#bitcoin.col-md-12.centered
			.container
				include /partials/nav.jade
			
			h1 What is Bitcoin?
			p Bitcoin is a digital currency that enables instant payments from anyone, anywhere over the internet.
			a(href='http://bitcoin.org') Learn More.
			br
			iframe(width="560",height="315",src="//www.youtube.com/embed/Um63OQz3bjo?rel=0",frameborder="0",allowfullscreen)

		
		include /partials/footer.jade