extends layout
block main
    body
        #pushfooterdownakahtmlsucks.footroom
            include /partials/nav.jade

                                
            .inyoface.centered
                h1 Donate Bitcoin to Your Favorite Charities
            
            include /partials/staffpick.jade
        
            #causes.container
                h1.centered Check out these Awesome Causes! 

                -for (var i=0; i< rows.length; i++){

                    .col-md-4
                        include /partials/cause.jade    
                -}
        include /partials/footer.jade