
extends layout

block main
    #wrapper.center
    .container-fluid
        .row-fluid
            .span2
            #cause1.cause.span2
                include /partials/cause.jade
            .span1
            #cause2.cause.span2
                include /partials/cause.jade
            .span1
            #cause3.cause.span2
                include /partials/cause.jade
                
            .span3

        span(style='font-size:20pt; color:blue;')
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .row-fluid
            .span12.do
                img.center(src="/img/TzedakahLogo.png")
                p Donate Bitcoin to your favorite Jewish Charity
        span(style='font-size:20pt;')
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .row-fluid
            .span2
            .span2
                include /partials/cause.jade

                
            .span1
            .span2
                include /partials/cause.jade
            .span1

            .span2
                include /partials/cause.jade
            .span2
block caused
    ul
        li CauseName
        li Image
        li Organization
        li Raised
        li Goal
        li Sponsor
        li 
            a.button
                