
extends layout

block main
    #wrapper.center
    .container-fluid
        .row-fluid
            .span2
            #cause1.cause.span2
                p First cause sl;adjns;flnsdlfn
            .span1
            #cause2.cause.span2
                p Second cause asfdgadfg
            .span1
            #cause3.cause.span2
                block caused
                
            .span3

        .row-fluid
            .span12.do
                img.center(src="/img/TzedakahLogo.png")
                p Donate Bitcoin to your favorite Jewish Charity
        .row-fluid
            .span2
            .span2
                p This cause
            .span1
            .span2
                p That cause
            .span1
            .span2
                p 6th Cause
            .span2
block caused
    ul
        li CauseName
        li Image
        li Organization
        li Raised
        li Goal
        li Sponsor
        li 
            a.button
                