!!! 5
html
    
    head
        meta(charset='utf-8')
        title #{title} | TzedakahBits
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='/favicon.ico')
        
        
        link(rel='stylesheet', href='/style/style.css', type='text/css')
        link(rel='stylesheet', href='/style/css/bootstrap.css', type='text/css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(type='text/javascript', charset='utf-8', src='/js/bootstrap.js')

        script(type='text/javascript')
            $(#donateModalToggle).click(function (){$("#donateModal").modal();});      
    body.beige
        
        block cause

        block main
        block bitcoin

        footer
            .navbar.navbar-fixed-bottom
                .navbar-inner
                    ul.nav
                        li.brand: a(href='/') TzedakahBits
                        li: a(href='/newcause') Add a cause
                        li: a(href='/about') About
                        li: a(href='/causes') Causes
                        li: a(href='/donate') Volunteer
                        li: a(href='/donate') Donate
                        li: a(href='/bitcoin') What is Bitcoin?
        