!!! 5
html
    
    head
        meta(charset='utf-8')
        title #{title} | TzedakahBits
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='/favicon.ico')
        
        
        link(rel='stylesheet', href='/style/style.css', type='text/css')
        link(rel='stylesheet', href='/style/css/bootstrap.css', type='text/css')
       
        


        //if lt IE 9

      
    body
        
        block cause

        block main
        block bitcoin

        footer
            .navbar.navbar-fixed-bottom
                .navbar-inner
                    ul.nav
                        li.brand: a(href='/') TzedakahBits
                        li: a(href='/newcause') Add a cause
                        li: a(href='/about') About
                        li: a(href='/causes') Causes
                        li: a(href='/donate') Volunteer
                        li: a(href='/donate') Donate
                        li: a(href='/bitcoin') What is Bitcoin?
        