extends layout
block main
    img(src="/img/TzedakahLogo.png")
    .container
        h1 Add a new Cause
        .span3
            form(action='newcause', method='post')
                
                    input(type='text', placeholder='CauseName', name='causename') CauseName
                    input(type='text', placeholder='Organization', name='Organization') Organization
                    input(type='text', placeholder='Goal', name='Goal') Goal
                    br
                    input(type='text', placeholder='Sponsor', name='sponsor') Sponsor
                    input(type='submit') a.btn.btn-info Change the world!