//Add a new Cause
extends layout
block main
    body
        include /partials/nav.jade

        .bluehalf.col-md-6
                    h1.mission Create a Cause
                    h2
                        ul
                            li 1. Create Your Cause
                            li 2. Tell your friends
                            li 3. Get Funded
                            li 4. Execute your project
                            li 5. Share the results with the world
                    h3 Need Help? We're here for you!
        .beigehalf.col-md-6
            h1 Change the world
            form(action='newprojectpost', method='post').standardform
                input.bigforminput(type='text', placeholder='Project Title', name='project_title')
                br
                br
                input.bigforminput(type='text', placeholder='Project Goal', name='project_goal')
                br
                br
                textarea.bigforminput(type='text', placeholder='Project Description', name='project_description', rows='10', cols='50' ) 
                br
                input#learnmoresubmit(type='submit', value='Submit')
                br
        include /partials/footer.jade