extends layout
block main
    img(src="/img/TzedakahLogo.png")
    .container
        h1 Add a new Cause
        .span3
            form
                
                    input(type='text') CauseName
                    input(type='text') Image
                    input(type='text') Organization
                    input(type='text') Goal
                    br
                    input(type='text') Sponsor
                    a.btn.btn-info Change the world!