extends layout
block main
    .span3
        img(src="/img/TzedakahLogo.png")
    h1.offset4 Awesome Causes!
    .container
        
        .span10  

            -for (var i=0; i< rows.length; i++){

                .span4
                    include /partials/cause.jade    
            -}